/* You can add global styles to this file, and also import other style files */

#cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-evenly;
    margin: 0 auto;
    width: 70%;
    padding: 10px;
    border: 1px solid black;
}
.cardTitle {
    font-size: 2.5em;
    font-family: 'Overlock SC', cursive;
}
img {
    border-radius: 10px;
}
