/* You can add global styles to this file, and also import other style files */

#cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-evenly;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
}