<p>user works!</p>

<h2> Users List </h2>
<ul class="roles">
  <li *ngFor="let user of users"
      [class.selected]="user===selectedUser"
      (click)="onSelect(user)">
     <a  routerLink="/users/{{user.userId}}" >
       <span class="badge">  {{user.userId}}  </span>  {{user.username}}
     </a>
     <!-- <button class="delete" title="delete user" (click)="delete(role)">
       Delete User
     </button> -->
  </li>
</ul>

<!-- nest add a player component here -->
<!-- <app-add-user [userevent]="AddUserParent($event)"></app-add-user> -->

<button (click)="showAddUser = true">Add a New user</button>
<app-add-user *ngIf="showAddUser" (userevent)="AddUserParent($event)"></app-add-user>




