@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');

#cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-evenly;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
}

.theaterCard {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.theaterCard div {
  position: relative;
}
.theaterCard a {
  color: black;
}
.cardTitle {
  font-size: 2.5em;
  font-family: 'Overlock SC', cursive;
}
.cardTitleSub {
    font-size: 1.5em;
}
.cardTitleSub::before {
     content: "at ";
     font-size: 0.8em;
}
