@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');

.theaterCard div {
    position: relative;
}
.theaterCard a {
    color: black;
}

.cardTitleSub::before {
     content: "at ";
     font-size: 0.8em;
}
