<div class="row" *ngFor="let com of lstMovieComments">
    <div id="comment-container">
        <div>
            <span id="username">{{com.username}} </span>
            <span id="date-made">{{com.dateMade | date:'short'}}</span>
        </div>
        <div>
            <span>{{com.content}}</span>
        </div>
    </div>
</div>
<div *ngIf="login && this.currentUser" id="new-comment">
    <span>{{currentUser.username}}</span>
    <form>
        <textarea rows="3" style="width: 80%"
                  placeholder="Write a comment"></textarea>
        <br />
        <input type="submit" value="Post" />
    </form>
</div>
