
<div class="form-signin">

  <label for="username">user name:</label>
  <input type="text" [(ngModel)]="currentUser.username" name="username" placeholder=" username">
  <br>
  <label for="passwd"> password:</label>
  <input type="text" [(ngModel)]="currentUser.passwd" name="passwd" placeholder="passwd">
  <br>

  <button (click)="LoggedCorrectUser()">Sign in</button>
  <!-- <button type="submit">Submit</button> -->
</div>
<!-- <div >
  <a routerLink="/login">
    <h1>GO LOGIN</h1>
  </a>
</div> -->



