<main class="form-signin">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="signin">
        <h1 style="text-align:center">Create an Account</h1>
        <div class="form-floating">
            <input class="form-control" type="text" [(ngModel)]="newUser.username" name="username" placeholder=" User Name">
            <label for="floatingInput">User Name</label>
            <span asp-validation-for="User Name" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input class="form-control" type="text" [(ngModel)]="newUser.passwd" name="passwd" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
            <input class="form-control" type="text" [(ngModel)]="newUser.firstName" name="firstName" placeholder="First Name">
            <label for="floatingInput">First Name</label>
        </div>
        <div class="form-floating">
            <input class="form-control" type="text" [(ngModel)]="newUser.lastName" name="lastName" placeholder="Last Name">
            <label for="floatingInput">Last Name</label>
        </div>
        <div>
            <input hidden type="number" [(ngModel)]="newUser.roleId" name="roleId" placeholder="roleId" value="2">
        </div>
        <button class="w-100 btn btn-lg btn-success" (click)="AddNewUser()">Sign Up</button>
    </div>
</main>



