.moviePreviewContainer {
    display: flex;
    flex-flow: row wrap;
}

.previewDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 70px;
    margin: 10px;
}

img {
    height: 90px;
    width: 65px;
}

span {
    text-wrap: normal;
}
