<p>movie-ratings works!</p>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-1">ratingId</div>
      <div class="col-sm-1">movieId</div>
      <div class="col-sm-1">userId</div>
      <div class="col-sm-4">content</div>
      <div class="col-sm-2">dateMade</div>
    </div>
    <div class="row" *ngFor="let com of lstmovieratings">
      <div class="col-sm-1">{{com.ratingId}}</div>
      <div class="col-sm-1">{{com.movieId}}</div>
      <div class="col-sm-1">{{com.userId}}</div>
      <div class="col-sm-4">{{com.content}} Stars!</div>
      <div class="col-sm-2">{{com.dateMade}}</div>
    </div>
    <div class="row">
      ...
    </div>
  </div>
  

