<!-- <p>user works!</p> -->
<h2> Users List </h2>

<form class="mainBody" style="width:100%">
    <table>
        <thead>
            <tr>Theater Name</tr>
            <tr>Theater Location</tr>
        </thead>
        <tbody>
            <tr *ngFor="let theater of theaters">
                <td>
                    {{theater.theaterName}}
                </td>
                <td>
                    {{theater.theaterLoc}}
                </td>
                <td>
                    <button type="button" class="btn btn-Warning">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-Danger">Remove</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Theater Name">
                        <label for="floatingInput">Theater Name</label>
                        <span class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Theater Location">
                        <label for="floatingInput">Theater Location</label>
                        <span class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <button type="submit" class="btn btn-Success">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>


