<form *ngif="login" class="mainBody" #newTheaterForm="ngForm" (ngSubmit)="onSubmit()">
    <table class="theatertable">
        <thead>
            <tr>
                <td><b>Theater Name</b></td>
                <td><b>Theater Location</b></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let theater of theaters">
                <td>
                    {{theater.theaterName}}
                </td>
                <td>
                    {{theater.theaterLoc}}
                </td>
                <td>
                    <button type="button" class="btn btn-warning" style="background-image: var(--bs-gradient)">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" style="background-image: var(--bs-gradient)">Remove</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="New Theater Name" required [(ngModel)]="theaterName" name="theaterName">
                        <label for="floatingInput">New Theater Name</label>
                        <span class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="New Theater Location" required [(ngModel)]="theaterLocation" name="theaterLocation">
                        <label for="floatingInput">New Theater Location</label>
                        <span class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <button type="submit" class="btn btn-success" style="background-image: var(--bs-gradient)">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>


