<div id="mainpage">
    {{ checkLogin() }}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 border-bottom box-shadow" id="mainheader">
        <h5 class="my-1 me-md-3 font-weight-normal text-white" id="mrmovie">Mr Movie</h5>
        <nav class="my-2 my-md-0 mr-md-3" id ="mainnav">
            <!--<a class="btn btn-outline-fix text-white" routerLink="/" routerLinkActive="active">Home</a>-->
            <a class="btn btn-outline-fix text-white" routerLink="/">Movies</a>
            <a class="btn btn-outline-fix  text-white" routerLink="/theaters" routerLinkActive="active">Theatres</a>
            <a class="btn btn-outline-fix text-white" *ngIf="!login; else elseBlock" routerLink="/login" routerLinkActive="active">Log In</a>
            <a class="btn btn-outline-fix text-white" *ngIf="!login" routerLink="/register">Register</a>
            <ng-template #elseBlock>
                <!-- <a class="btn btn-outline-fix text-white" routerLink="/logout" routerLinkActive="active">Log Out</a> -->
                <button (click)="LogoutUser()">Logout</button>
                <a href="#" class="nav-link text-white">
                    Logged In As: {{this.currentUser.username}}
                </a>
            </ng-template>
        </nav>
    </div>
    <div *ngIf="admin" class="d-flex flex-column flex-md-row align-items-center px-md-4 b border-bottom box-shadow" id="adminheader">
        <nav class="my-2 my-md-0 mr-md-3" id="adminnav">
            <a class="btn btn-outline-fix text-dark" routerLink="/admin-theater" routerLinkActive="active">Theater Manager</a>
            <a class="btn btn-outline-fix  text-dark" routerLink="/admin-movie" routerLinkActive="active">Movie Manager</a>
            <a class="btn btn-outline-fix text-dark" routerLink="/admin-schedule" routerLinkActive="active">Schedule Manager</a>
        </nav>
    </div>
    <div style="height:100%">
        <app-messages></app-messages>
        <router-outlet></router-outlet>
    </div>
</div>
