<div id="mainpage">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 border-bottom box-shadow" id="mainheader">
        <h5 class="my-0 mr-md-auto font-weight-normal text-white">Mr Movie</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="btn btn-outline-fix text-white" routerLink="/" routerLinkActive="active">Home</a>
            <a class="btn btn-outline-fix text-white" routerLink="/movies">Movies</a>
            <a class="btn btn-outline-fix  text-white" routerLink="/theaters" routerLinkActive="active">Theatres</a>
            <a class="btn btn-outline-fix text-white" *ngIf="!login; else elseBlock" routerLink="/login" routerLinkActive="active">Log In</a>
            <ng-template #elseBlock>
                <a class="btn btn-outline-fix text-white" routerLink="/logout" routerLinkActive="active">Log Out</a>
                <a href="#" class="nav-link text-white">
                    Logged In As: {{currentUser.username}}
                </a>
            </ng-template>
        </nav>
    </div>
    <div *ngIf="admin" class="d-flex flex-column flex-md-row align-items-center px-md-4 b border-bottom box-shadow" id="adminheader">
        <nav class="my-2 my-md-0 mr-md-3" id="adminnav">
            <a class="btn btn-outline-fix text-dark" routerLink="/admin-theater" routerLinkActive="active">Theater Manager</a>
            <a class="btn btn-outline-fix  text-dark" routerLink="/admin-movie" routerLinkActive="active">Movie Manager</a>
            <a class="btn btn-outline-fix text-dark" routerLink="/admin-schedule" routerLinkActive="active">Schedule Manager</a>
        </nav>
    </div>
    <div style="height:100%">
        <router-outlet></router-outlet>
        <app-messages></app-messages>
    </div>
</div>

