

<style>
  table, td, th {
    border: 1px solid black;
  }

  table {
    border-collapse: collapse;
    width: 90%;
  }

  th {
    height: 50px;
  }
</style>

<h2>Get Request https://jsonplaceholder.typicode.com/posts/1/comments</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Post Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Body</th>
  </tr>

  <tr *ngFor="let com of lstcomments">
    <td>{{com.id}}</td>
    <td>{{com.postId}}</td>
    <td>{{com.name}}</td>
    <td>{{com.email}}</td>
    <td>{{com.body}}</td>
  </tr>

</table>

<br><br>

<h2>Get Request (using parameters) https://jsonplaceholder.typicode.com/posts?userId=1</h2>

<table>
  <tr>
    <th>Id</th>
    <th>User Id</th>
    <th>title</th>
    <th>Body</th>
  </tr>

  <tr *ngFor="let com of lstposts">
    <td>{{com.id}}</td>
    <td>{{com.userId}}</td>
    <td>{{com.title}}</td>
    <td>{{com.body}}</td>
  </tr>

</table>

<br><br>

<h2>POST DATA RETURNED https://jsonplaceholder.typicode.com/posts</h2>

<!-- <p>id: {{objposts.id}}</p>
<p>user id: {{objposts.userId}}</p>
<p>Title: {{objposts.title}}</p>
<p>Body: {{objposts.body}}</p> -->

<h2>Get Request https://localhost:44367/api/Comment/GetAllCommentsForMovie/666</h2>

<table>
  <tr>
    <th>commentId</th>
    <th>movieId</th>
    <th>userId</th>
    <th>content</th>
    <th>dateMade</th>
    <th>username</th>
  </tr>

  <tr *ngFor="let com of lstmoviecomments">
    <td>{{com.commentId}}</td>
    <td>{{com.movieId}}</td>
    <td>{{com.userId}}</td>
    <td>{{com.content}}</td>
    <td>{{com.dateMade}}</td>
    <td>{{com.username}}</td>
  </tr>

</table>



